/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d34301;
  --ifm-color-primary-dark: #be3c01;
  --ifm-color-primary-darker: #b33901;
  --ifm-color-primary-darkest: #9e3201;
  --ifm-color-primary-light: #e84a01;
  --ifm-color-primary-lighter: #f34d01;
  --ifm-color-primary-lightest: #fe5f16;
  --ifm-background-color: #fefefe;
  --ifm-code-font-size: 95%;
  --ifm-heading-font-family: "SUSE", sans-serif;
  --ifm-font-family-base: "SUSE", sans-serif;
  --ifm-font-family-monospace: "SUSEMono", monospace;
}

html[data-theme='dark'] {
  --ifm-color-primary: #fe7c3f;
  --ifm-color-primary-dark: #fe661f;
  --ifm-color-primary-darker: #fe5c10;
  --ifm-color-primary-darkest: #ed4c01;
  --ifm-color-primary-light: #fe925f;
  --ifm-color-primary-lighter: #fe9c6e;
  --ifm-color-primary-lightest: #febd9e;
  --ifm-background-color: #092521;
  --ifm-code-font-size: 95%;
}

html[data-theme='dark'] footer {
  --ifm-footer-background-color: #104139;
	--ifm-link-hover-color: #90ebcd;
}

html[data-theme='light'] footer {
  --ifm-footer-background-color: #104139;
	--ifm-link-color: #fe7c3f;
	--ifm-link-hover-color: #90ebcd;
}

html[data-theme='light'] .tooltip {
  position: relative;
  display: inline-block;
	/* background-color: #ffeee6; */
  /* border: 0px; */
  /* border-radius: 6px; */
  border-bottom: 1px dotted;
  border-color: #cb6332;
}

html[data-theme='light'] .tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #eeeeee;
  color: #000000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border: 4px solid #fe7c3f;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -120px;
}

html[data-theme='dark'] .tooltip {
  position: relative;
  display: inline-block;
	/* background-color: #666666; */
  /* border: 0px; */
  /* border-radius: 6px; */
  border-bottom: 1px dotted;
  border-color: #fe7c3f;
}

html[data-theme='dark'] .tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #666666;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border: 4px solid #fe7c3f;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -120px;
}

html[data-theme='light'] .tooltip:hover .tooltiptext {
  visibility: visible;
}

html[data-theme='dark'] .tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Align SUSE Mono baseline with SUSE proportional font */
code, kbd, samp {
  font-family: 'SUSE Mono', monospace;
  position: relative;
  top: -0.07em; /* Adjust this value as needed */
}
